html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1336px;
}
.el-popper {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.el-steps {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px !important;
}
.ql-editor {
  min-height: 300px;
}
